$lightWhite: #ffffff;

$light-two: #eeeded;
$light-border: #cad0d9;

$black: #1a1a1a;
$bright-orange: #df7861;
$bright-red:#f04545;
$fz36: 36px;
$fz22: 22px;

$fzH1: 32px;
$fzH2: 24px;
$fzH3: 20px;
$fzH4: 18px;
$fzH5: 16px;
$fzH6: 14px;
$fzDes: 12px;
$fzBody: 18px;
