@import "../../assets/css/scss-variables";

input {
    height: 45px;
    border: 1px solid $light-border;
    font-size: $fzBody;
    border-radius: 3px;
    padding: 0 0 0 15px;
}
*:focus {
    outline: none !important;
    box-shadow: none !important;
}
////////////

.Home-section {
    padding: 20px 20px 0;
}

.head {
    display: flex;
    justify-content: space-between;
    .inputfield {
        display: flex;
        height: 45px;
        width: 100%;
        margin: 20px 0;
        .inputText {
            position: relative;
        }

        .inputTextMean {
            display: none;
            &.active {
                display: block;
            }
        }

        .delKey {
            font-size: $fzH2;
            position: absolute;
            right: 10px;
            cursor: pointer;
            display: none;
            top: 2px;
            &.active {
                display: block;
            }
        }
        button {
            width: 60px;
            font-size: $fz22;
            border-radius: 3px;
            margin-left: 5px;
            opacity: 0.5;
            pointer-events: none;
            &.active {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}



.custom-btn {
    color: #fff;
    background-color: #f67374;
    border-color: #f67374;
    &:hover {
        color: #f67374;
        background-color: transparent;
        border-color: #f67374;
        &:active {
            color: #fff;
            background-color: #f67374;
            border-color: #f67374;
        }
    }
}
// .custom-btn:hover:active {
//     color: #fff;
//     background-color: #f67374;
//     border-color: #f67374;
// }


